# to run whole app: docker-compose up --build

version: "3.9"
volumes:
  data:
services:
  # Para correr individualmente:
  #   docker run -d -p 6379:6379 redislabs/rejson
  redis:
    image: redislabs/rejson
    container_name: cache
    restart: always
    # ports:
    #   - "6379:6379"
    expose:
      - 6379
  db:
    build: ./db/
    restart: always
    volumes:
      - data:/var/lib/mysql
    ports:
      - "3306:3306"
  cliente:
    build: ./cliente/
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - servidor
      - redis
  servidor:
    build: ./servidor/
    restart: always
    environment:
      - DATABASE_HOST=db
      - REDIS_URL=redis://cache
    ports:
      - "8080:8080"
    depends_on:
      - db
  # misma funcion de phpMyAdmin
  adminer:
    image: adminer
    restart: always
    ports:
      - "8000:8080"
  
